@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
	font-family: "Noto Sans KR", sans-serif;
}

.emoji-username {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.part-username {
	font-size: 2vw;
	margin-top: -20%;
}
